<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Bicycle Sharing:Booking Payment</title>
<!-- Bootstrap Styles-->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<!-- Custom Styles-->
<link th:href="@{/css/admin-styles.css}" rel="stylesheet" />
<!-- Google Fonts-->
<link th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}"
	rel="stylesheet" type="text/css" />
<!-- TABLE STYLES-->
<link th:href="@{/css/dataTables.bootstrap.css}" rel="stylesheet" />
</head>
<body>
	<!-- Navigation section
================================================== -->
	<div class="wrapper">
		<div th:include="adminNav :: head-and-side"></div>
		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row">
					<div class="col-md-12">
						<h1 class="page-header">Payment</h1>
						<h4 class="text-success" th:text="*{bookingSuccess}"></h4>
						<h4 class="text-danger" th:text="*{bookingFailure}"></h4>

					</div>

				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-primary">
							<div class="panel-body">
								<div class="col-md-8 col-sm-8 col-xs-8">
									<form action="manager/issueCyclePayment"
										th:action="@{/manager/issueCyclePayment}"
										th:object="${issueCyclePaymentData}" method="POST">
										<div>
											<label class="control-label"> UserId</label> <input
												type="text" name="userId" class="form-control"
												th:value="${issueCycleData.userId}" readonly="readonly"
												required="required" />
										</div>
										<div>
											<label class="control-label">Select BiCycle</label> <input
												type="text" name="bicycleId" class="form-control"
												th:value="${issueCycleData.bicycleId}" readonly="readonly"
												required="required" />
										</div>
										<div>
											<label class="control-label">Expected Return(In
												Hours)</label> <input type="text" name="expectedInTime"
												class="form-control"
												th:value="${issueCycleData.expectedInTime}"
												readonly="readonly" required="required" />
										</div>
										<div>
											<label class="control-label">Fare</label> <input
												type="number" name="amount" class="form-control"
												th:value="${baseFare}" readonly="readonly"
												required="required" />
										</div>
										<div>
											<label class="control-label">Payment Type</label>
										</div>
										<div>
											<label class="radio-inline"> <input type="radio"
												name="mode" value="cash" tabindex="1" required="required" />Cash
											</label> <label class="radio-inline"> <input type="radio"
												name="mode" value="wallet" tabindex="2" required="required" />Wallet
											</label>
										</div>
										<div style="padding: 5px">
											<button class="btn btn-primary">Pay</button>
											<input type="reset" class="btn btn-info" />
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="adminNav :: page-footer"></div>
	<!-- /. PAGE WRAPPER  -->
	<!-- /. WRAPPER  -->
	<!-- JS Scripts-->
	<!-- jQuery Js -->
	<script th:src="@{/js/jquery-1.10.2.js}" type="text/javascript"></script>
	<!-- Bootstrap Js -->
	<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
	<!-- Metis Menu Js -->
	<script th:src="@{/js/jquery.metisMenu.js}" type="text/javascript"></script>
	<!-- Custom Js -->
	<script th:src="@{/js/custom-scripts.js}" type="text/javascript"></script>
	<script src="/js/jquery.js" th:src="@{js/jquery.js}"></script>
	<script src="/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
	<script src="/js/smoothscroll.js" th:src="@{js/smoothscroll.js}"></script>
	<script src="/js/custom.js" th:src="@{/js/custom.js}"></script>
</body>
</html>
